################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Amazon Algorithm Comparison.vcxproj.filters
/Amazon Algorithm Comparison.vcxproj
/Amazon Algorithm Comparison.sln
